{% extends 'base.html.twig' %}

{% block title %}My List{% endblock %}

{% block body %}

{% include('partials/nav.html.twig') %}

<header class="hero">
    <h1>What I have to do in my list</h1>

</header>

<br>

<div class="todo-list">

{% include 'partials/todos.html.twig' %}
    
</div>

{% endblock %}
