<nav>
    <ul class="logo-text">
        <li>My ToDo</li>
    </ul>
    <ul>
        <li><a href={{ path('app_home') }}>My List</a></li>
        <li><a href={{ path('app_logout') }}>Logout</a></li>
    </ul>
</nav>